:root {
    --primary-red: #b35a65;
    --primary-blue: #6989b9;
}

.Card {
    background-color: white;
    border-radius: 10px;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    width: 100%;
    text-align: center;
}

.Card--selected {
    background-color: var(--primary-blue);
    color:white;
}

.button {
    font: inherit;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 8px;
    color: var(--primary-red);
}

.button:disabled, .button:disabled:hover {
    color: white;
    background-color: #cccccc;
}

.button:hover {
    color: white;
    background-color: var(--primary-red);
}

.button--currentTurn {
    color: var(--primary-blue);
}

.button--currentTurn:hover {
    background-color: var(--primary-blue);
}